{% extends "certs/_layout.html" %}
{% block cert_body %}
<div class="cert-main-title">
  <span><em>CERTIFICATION OF TRANSFER OF RESIDENCY</em></span>
</div>

<p class="to-whom">TO WHOM IT MAY CONCERN:</p>

<p class="cert-paragraph">
  This is to certify that <strong>{{ resident.full_name }}</strong> is a former
  bonafide resident of Barangay PITOGO, Municipality of CONSOLACION,
  Province of CEBU, who transferred residence to
  <strong>{{ meta.new_residence }}</strong> last
  <strong>{{ meta.date_transfer }}</strong>.
</p>

<p class="cert-paragraph">
  This further certifies that the above-named has
  <strong>{{ meta.num_children }}</strong> child(ren), namely:
</p>

<ol class="cert-children">
  {% for child in meta.children %}
  <li>{{ child }}</li>
  {% endfor %}
</ol>

<p class="cert-paragraph">
  This certification is issued upon the request of the above-named person
  for <strong>{{ meta.purpose or "whatever legal purpose it may serve" }}</strong>.
</p>

<p class="cert-paragraph">
  Issued this <strong>{{ issued_at }}</strong> at the Office of the
  Punong Barangay, Barangay PITOGO, Municipality of CONSOLACION,
  Province of CEBU, Philippines.
</p>
{% endblock %}
